<div class="container">
<h1><%= @dream.title %></h1>
<h2><%= @dream.dream_date %></h2>
<p><%= @dream.description %></p>
<% @dream.symbols.each do |symbol| %>
<a href="<%= @dream.user.username %>/symbols/<%= symbol.name %>"><%= symbol.name %></a>
<% end %>
</div>

<div class="container">
<% if @dream.user.username == session[:username] %>
<a href="/<%= @dream.user.username %>/dreams/<%= @dream.id %>/edit">Edit This Dream</a>
<% end %>
<br>
<a href="/<%= @dream.user.username %>/dreams/all">Return To Dreams</a>
</div>