<% display_error %>

<div class="container">
Welcome to your Home Page!<br>
<br>
<a href="/<%= session[:username] %>/profile">Check out your profile!</a><br>
<a href="/<%= session[:username] %>/dreams/new_dream">Log A Dream!</a><br>
<a href="/<%= session[:username] %>/words/all">Your Dream Words!</a><br>
<a href="/<%= session[:username] %>/dreams/all">Your Dreams!</a><br>
<br>
<br>
<br>
<!-- Add an on click jQuery here to warn the user if he really wants to do this -->
<button><a href="/<%= session[:username] %>/delete">Delete This Account?</a></button>
</div>