<div class="container">
<h1><%= @user.username %>'s Profile!</h1><br>
  <%= @user.real_name %><br>
  <%= @user.email %><br>
  <%= @user.location %><br>
  <%= @user.description %><br>

<form action="/<%= @user.username %>/profile/edit" method="POST">
  <input type="hidden" name="_method" value="PUT">

</form>
</div>